/* App container style */
.app-container {
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: auto;
  background-color: #27292E;
}

/* Content wrapper style */
.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Responsive padding for larger screens */
@media (min-width: 640px) {
  .app-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
